/* Add CSS styling here */
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

.portfolio {
    display:flex;
    background-color: black;
    color: white;
    width: auto;
    height:7rem;
    justify-content: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 4rem;

}




.container {
    display: flex;
     
}


.container .links a{
    display:flex;
    width:4.5rem;
    height: 6.25rem;
    background-color: gray;
    flex-wrap: wrap;
    
}

.aboutme {
    display:flex;
    justify-content: center;
    width:138rem;
    height: 25rem;
    background-color:rgb(29, 29, 161);
    
}

h2 {

    font-weight: bold;
    font-size:5.5rem;
    margin: 8rem;
    font-family: 'Arimo', sans-serif;
    color:rgb(143, 140, 140);

}

.image{
    display:flex;
    justify-content: center;
    background-color:rgb(55, 55, 255);
    

}

img{
    
    border: 0.5rem solid black;
    height:40rem;
    width:50rem;

}

img:hover{

    animation-name: image;
    animation-duration: 5s;
}
@media(max-width:800px){
    
    .aboutme {
        background-color:rgb(161, 45, 165);
    }

    img{
        width: 35rem;
        
    }

}

@media(max-width:500px){
    .container .links a{
        width: 3.3rem;
        flex-wrap: nowrap;
    }
    .aboutme {
                background-color:purple;
                width: 28rem;
            }
    img{
        width: 30rem;
    }


}

@keyframes image{
    25%{border-radius: 3rem;}
    45%{border-radius: 7rem;}
    65%{border-radius: 11rem;}
    85%{border-radius: 15rem;}
    100%{border-radius: 20rem;}

}

.paragraph{

    display:flex;
    justify-content: center;
    
    
}

.paragraph p{
    width:70rem;
    font-family: 'Arimo', sans-serif;
    margin: 0.5rem;
    line-height:2.5rem;
}

.paragraph:hover{

    animation-name: lightsout;
    animation-duration: 30s;
}

@keyframes lightsout{

    100%{background-color: black;
         color:white;}
}


.footer{
    display:flex;
    background-color: black;
    height:10rem;
    justify-content: center;
}

.footer:hover{

    animation-name: lighton;
    animation-duration: 3s ;
}

@keyframes lighton{

    100%{background-color:white;}
}

.footer img {
    height:4rem;
    width: 5rem;
    margin-top: 1rem;

}

button {

    height:3rem;
    margin-top:1rem;
    margin-left: 7rem;
    border-radius: 1rem;

}

button:hover{
    animation-name: button;
    animation-duration: 3s;

}

@keyframes button{

    25%{background-color:rgb(161, 241, 161);}
    50%{background-color:rgb(133, 241, 133);}
    75%{background-color:rgb(33, 236, 33);}
    100%{background-color:rgb(9, 104, 9);}

}
