/* Add CSS styling here */
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

.portfolio {
    display:flex;
    background-color: black;
    color: white;
    width: auto;
    height:7rem;
    justify-content: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 4rem;

}




.container {
    display: flex;
     
}


.container .links a{
    display:flex;
    width:4.5rem;
    height: 6.25rem;
    background-color: gray;
    flex-wrap: wrap;
    
}

.projectme {
    display:flex;
    justify-content: center;
    width:138rem;
    height: 25rem;
    background-color:rgb(102, 96, 96);
    
}

@media(max-width:500px){
    .container .links a{
        width: 3.3rem;
        flex-wrap: nowrap;
    }
    .projectme {
                background-color:red;
                width: 28rem;
            }


}

h2 {

    font-weight: bold;
    font-size:5.5rem;
    margin: 8rem;
    font-family: 'Arimo', sans-serif;
    color:rgb(226, 220, 220);

}

.gallery{

    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: honeydew;

    
}

.gallery img {

    width:25.5rem;
    height:25.5rem;
    border: 8px solid silver;
}

  
 
.footer{
    display:flex;
    background-color: black;
    height:10rem;
    justify-content: center;
}

.footer:hover{

    animation-name: lighton;
    animation-duration: 3s ;
}

@keyframes lighton{

    100%{background-color:white;}
}

.footer img {
    height:4rem;
    width: 5rem;
    margin-top: 1rem;

}

button {

    height:3rem;
    margin-top:1rem;
    margin-left: 7rem;
    border-radius: 1rem;

}

button:hover{
    animation-name: button;
    animation-duration: 3s;

}

@keyframes button{

    25%{background-color:rgb(161, 241, 161);}
    50%{background-color:rgb(133, 241, 133);}
    75%{background-color:rgb(33, 236, 33);}
    100%{background-color:rgb(9, 104, 9);}

}

img:hover {

    animation-name:images;
    animation-duration: 3s;

}

@keyframes images{

    100%{border-radius: 4.5rem;}
}

  
  